@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: rgb(232, 215, 115);
  }

  body, #root {
    @apply h-screen w-screen m-0 p-0 box-border ;
  }

  #root {
    @apply bg-white;
  }

  #Card {
    @apply w-screen overflow-hidden sticky top-0 ;
    background-color: rgb(232, 215, 115);
    background-position: 50%;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
                      linear-gradient(to bottom, grey 1px, transparent 1px);
  }
}

/* Fonts */
@font-face {
  font-family: 'Castoro-Regular';
  src: url("./fonts/Castoro-Regular.ttf");
}

@font-face {
  font-family: 'Castoro-Italic';
  src: url("./fonts/Castoro-Italic.ttf");
}